language: python

python:
  - "3.11"

# install the package + dependencies
install:
  - pip install --upgrade pip wheel
  - pip install -q -r requirements.txt
  - pip install --break-system-packages -e .

# command to run tests
script:
  - python tests/unittests_estimators.py
  - python tests/unittests_evaluations.py
  - python tests/unittests_simulations.py
  - python tests/unittests_utils.py
  #- python tests/test_nf_torch.py
  #- python tests/test_kmn_torch.py

notifications:
  email:
    recipients:
      - jonas.rothfuss@gmail.com
      - fabioferreira@mailbox.org
    on_success: never
    on_failure: never
