Keras==2.2.4
tensorflow==1.12.2
edward==1.3.5
matplotlib
numpy
pandas
seaborn
scipy==1.2.1
pytest
scikit_learn
git+https://github.com/jonasrothfuss/ml_logger.git
statsmodels
sphinx_rtd_theme
progressbar2
xlrd
